<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>User_Dashboard</title>
</head>
<body>
<section>
<div class="card">

<div class="card-body">
	<h1 class="text-center font-italic font-weight-light">Hi welcome to user dashboard</h1>
	<h2 class="text-center font-italic font-weight-bold text-primary" th:text="${user.email}"> </h2>
	<img style="height: 200px; width: 200px; margin-left: 40% ; margin-top: 15px;" class="profileimg " alt="profile img"  th:src="@{'/img/call.jpg'}">
	
	<h1 class="text-center font-italic font-weight-light" style="color:grey; margin-top:30px">Now no need to remember contact no.
	&#128584;
	<br>
	<br>
	</h1>
	<h3 class="text-center font-italic font-weight-bold">
	Please Navigate Left for Further options
	
	</h3>
</div>


</div>

	</section>
</body>
</html>