<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<section>
<div class="myabout">
<div class="container  text-center">

<h1 style="color:Blue;"> Welcome to About Page</h1>
</div>
<div  class="about-body">
<h2><i>We are Contact Manager </i></h2>
<h4><i> We will manager your contact List</i></h4>
</div>
<h3 class="text-success"><i> Feel Free to Reach us!!!!</i></h3>
<h3 class="text-success"><i  > Hope you will enjoy!!!!</i></h3>
</div>

</section>
</body>
</html>